body{
    margin:0;
}

.navbar-background{
    background-color:purple !important;
    border-bottom: 2px solid greenyellow;
}

.navbar-margin{
    margin-right:100px;
}

.product-section img{
    width:250px;
}

.description-section img{
    width : 250px;
}

footer{
    /* background-color:purple !important; */
    /* border-top: 2px solid greenyellow; */
    color:whitesmoke;
    padding:10px;
}

footer a{
    /* font-size: 2em; */
    /* color:greenyellow; */
    padding : 2px;
    margin:2px;
}